@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap');


:root {
    --white: white;
    --highlight: #47E398;
    --scroll-color: #9edebf;
    --inbox-name-highlight: #34D688;
    --inbox-background: #F6FAF9;
    --color-xam: #8f9794;
    --icon: #cecece;
    --font-weight-low: 400;
    --font-weight-hight: 500;
    --text-watched: #8f9794;
    --border: #ffffff;
    --text-no-watched: black;
    --border-solid:  #2e2e2e;

}

::-webkit-scrollbar {
    height: 10px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--border-solid);;
    border-radius: 20px;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p, label, span {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.mes-active{
    border: 1px solid black;
    background-color: #c8ffd5;
}

.mes-cancel{
    border: 1px solid black;
    background-color: #421a2c;
}

.mes-done{
    border: 1px solid black;
    background-color: #13263c;
}

.inbox-m-main {
    border-radius: 25px;
    background-color: #171f2e;
    padding: 30px 15px 30px 15px;
    margin: 15px 0px 15px 0px;
    border: 1px solid var(--border-solid);
}

.inbox-m-content{
    width: 100%;
}

.inbox-m-check {
    overflow-y: scroll;
    height: 80vh;
    /* border-top: 1px solid var(--icon);
    border-bottom: 1px solid var(--icon); */
    padding-top: 10px;
    padding-bottom: 10px;
}

.inbox-m {
    display: flex;
    border: 1px solid var(--border-solid);
    border-radius: 15px;
    margin-bottom: 5px;
}

.inbox-m-image,
.inbox-m-image>img {
    width: 30px;
    height: 30px;
}

.inbox-m-image>img {
    border-radius: 50%;
}

.inbox-m-info {
    text-align: center;
    justify-content: center;
}

.inbox-m-name>span {
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.inbox-m-time>span {
    color: var(--color-xam);
    font-size: 12px;
}

.inbox-m-message>span {
    font-size: 14px;
    font-weight: var(--font-weight-low);
    color: var(--text-watched);
}

.inbox-m-show-main-content {
    margin-top: 5%;

    width: 250px;
    height: 260px;
    background-color: #47E398;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: rgb(44, 44, 44);
}

.inbox-m-show-main-content h6 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.inbox-m-show-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-call {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.btn-call i {
    font-size: 28px ;
    color: var(--icon);
}

.btn-call-accept {
    background-color: #0ac66b;
}

.btn-call-close {
    background-color: red;
}

.inbox-m-show-main-content>div {
    margin-top: auto;
    margin-bottom: 20px;
}


















/* ==================================== */
/* USER */

.u-main {
    padding: 17px;
    border: 1px solid var(--border-solid);
    background-color: #171f2e;
    height: 80vh;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
}

.u-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--highlight);
}

.u-content{
    font-size: 24px;
}

.btn-call-user-call{
    background-color: #0ac66b;
}

.btn-call-user-call:hover{
    background-color: #65efac;
}

.btn-call-user-call i{
    color: white;
}

.control-call-user{
    margin-bottom: 15px;
}

.btn-call-user-cancel{
    background-color: red;
}

.btn-call-user-cancel{
    background-color: rgb(214, 104, 104);
}

#dialog-content {
    background-color: #13263c;
    color: white;
    font-weight: 600;
}

.btn-admin-custom{
    border-radius: 20px;
}

#control-admin-main{
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #171f2e;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.history-call-item{
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--border-solid);
    border-radius: 10px;
    background-color: #13263c;
}

.history-call-item{
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--border-solid);
    border-radius: 10px;
    background-color: #13263c;
}

.history-call-item-accept{
    background-color: #13263c;
}

.history-call-item-busy{
    background-color: #421a2c;
}

.form-control,
.form-control:focus,
.form-control:active {
    background-color: black;
    color: white;
    border-color: var(--border-solid);
    border-radius: 10px;
}